/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    box-sizing: border-box;
scrollbar-width: auto;
scrollbar-color: #b6bcc8 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 12px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #b6bcc8;
border-radius: 10px;
box-sizing: border-box;
border: 3px solid #ffffff;
}

.temp-left-div{
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll !important;
    background: #ffffff;
}

.disclosure-div{ 
    min-height: 595px;
    max-height: 595px;
    overflow-y: scroll !important;
}

.temp-right-div{
    background: #E3E6EC;
    padding: 0 !important;
    width: 100% !important;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll !important;
}
.file-view{
    min-width:  70%;
    min-height: 80%;
    background: white;
}
.page-not-found{
    min-height: 100vh;
}
.page-not-found-div{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-password{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .row-ip{
        display: flex;
    }
    h1{
        span{
            font-size: 200px;
        }
    }
}

.mobile{

    .input-password-mobile{
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .loading{
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .sticky-bot{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        background: #F8F9FA;
        border-top: 0.5px solid #E3E6EC;
        box-sizing: border-box;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sticky-top{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;

        background: white;
        border-bottom: 0.5px solid #B6BCC8;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .loader{
        display: inline-block;
        width: 50px;
        height: 50px;
        content: url('../icons/loading.svg');
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.fileview{
    height: 100vh !important;
    background: #E3E6EC;

    .file-cont{
        background: #E3E6EC;
        height: 70vh;
        .file{
            background: #ffffff;
            width: 100%;
            height: 70vh;
            margin-top: 10px;
        }
    }
    
}
.page-error{
    height: 100vh;
    display: flex;
        align-items: center;
        justify-content: center;
}