<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Establishment Dashboard</title>
</head>
<body>
    <h1>
        Total visitors logged in this establishment: <%=recordsCount %> 
    </h1>

    <table>
        <thead>
            <td>Name</td>
            <td>Date & Time</td>
        </thead>
        <% for(var i=0; i < logs.length; i++) { %>
        <tr>
            <td><%= logs[i].name %></td>
            <td><%= logs[i].date %></td>
        </tr>
        <% } %>
    </table>
</body>
</html>