<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QR Scanner</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/html5-qrcode.min.js"></script>
</head>
<body>
    <div style="width: 500px" id="reader"></div>
    <div>
        <h1 id="person"></h1>
    </div>
    <script>
        var fetched = false;
        const onScanSuccess = async (decodedText, decodedResult) => {
            
            if(!fetched) {
                fetched = true;
                await fetch('/establishment/qr', { 
                    method: 'POST', 
                    headers: {
                        "content-type": "application/json"
                    }, 
                    body:  JSON.stringify({ decodedText }) 
                })
                .then((response)=> {
                    response.json().then((data) => {
                        fetched = false;
                        $('#person').text(`${data.message}`); 
                        setTimeout(() => {
                            $('#person').text(""); 
                        }, 5000);
                    })
                });
            }
        }

        var html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 }); 
        html5QrcodeScanner.render(onScanSuccess);
    </script>
</body>
</html>

