<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Establishment</title>
</head>
<body>
    <h1>Establishment</h1>
    <a href="/establishment/login"> Have already account? Login</a>

    <p>Request account creation here. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe optio, dolor tempore porro, soluta molestias totam quibusdam corrupti molestiae voluptates minus amet corporis culpa tempora similique! Fuga ipsa eveniet provident.</p>
    
    <form action="/establishment/request">
        <div>
            <label for="name">Establishment Name: </label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="owner">Owner Name: </label>
            <input type="text" name="owner" required>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="address">Address: </label>
            <textarea id="address" name="address" rows="4" cols="50">
        </div>
        <div>
            <label for="contact">Contact no: </label>
            <input type="number" name="contact" required>
        </div>
        <div>
            <label for="message">Message: </label>
            <textarea id="message" name="message" rows="4" cols="50">
        </div>
        <div>
            <label for="permit">Business Permit: </label>
            <input type="file" id="permit" name="permit" accept="image/png, image/jpeg">
        </div>
        <div>
            <label for="validID">Valid ID: </label>
            <input type="file" id="validID" name="validID" accept="image/png, image/jpeg">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>