<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Establishment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="login container-fluid d-flex flex-row align-items-center justify-content-center p-0">
    <div  class="login-subcon col-xl-8 col-lg-10 col-md-11 col-10 row">
        
        <div  id="r-form-parent" class="c-div col-xxl-6 col-md-8 col-12 d-flex flex-column justify-content-center border p-lg-5 p-md-4 p-sm-5 p-4 mx-auto">
            <div id="r-form" class="col-12 px-0 ">
                <div class="col-12 d-flex justify-items-center mt-3">
                    <a href="/" class="col-4 mx-auto"><img src="../assets/images/logo.png" alt="" class="col-12"></a>
                </div>
                <p class="mt-4">Request account creation here.</p>
                
                <form class="column mt-md-4 mt-2"  onsubmit="return submitForm(event)" action="/establishment/request" method="POST" enctype="multipart/form-data">
                    <div class="form-group mt-2 ">
                        <label for="name">Establishment Name: </label>
                        <input class="form-control"  type="text" name="name" required>
                    </div>
                    <div class="form-group mt-2 "> 
                        <label for="owner">Owner Name: </label>
                        <input class="form-control" onkeydown="return /[a-z '.]/i.test(event.key)"  type="text" name="owner" required>
                    </div>
                    <div class="form-group mt-2 ">
                        <label for="email">Email: </label>
                        <input class="form-control" id="email" type="email" name="email" required>
                        <p id="emailError text-danger messageText" style="color:red !important; text-align:left;"  class="text text-danger"></p>
                    </div>
                    <div class="form-group col-12 p-0">
                        <label for="code">Email verification code: </label>
                        <div class="col-12 row p-0">
                            <div class="col-8">
                                <input class="form-control" type="number" name="code" id="code" required>
                                <p id="codeError" class="text-danger messageText" style="color:red !important; text-align:left;" ></p>
                            </div>
                            <div class="col-4 p-0">
                                <input type='button' id="getCode" class="btn col-12 " value="Get Code"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2 ">
                        <label for="address">Address: </label>
                        <textarea class="form-control" id="address" name="address" rows="4" cols="50"></textarea>
                    </div>
                    <div class="form-group mt-2 ">
                        <label for="contact">Contact no (+63): </label>
                        <input class="form-control" type="number" name="contact" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" required>
                    </div>
                    <div class="form-group mt-2 ">
                        <label for="message">Message: </label>
                        <textarea class="form-control" id="message" name="message" rows="4" cols="50"></textarea>
                    </div>
                    <div class="form-group mt-2 ">
                        <label for="permit">Business Permit: </label>
                        <input class="form-control" type="file" id="permit" name="permit" accept="image/png, image/jpeg" required>
                    </div>
                    <div class="form-group mt-2 ">
                        <label for="validID">Valid ID: </label>
                        <input class="form-control" type="file" id="validID" name="validID" accept="image/png, image/jpeg" required>
                    </div>
                    <button class="btn btn-grad col-12 mt-5" type="submit">Submit</button>
                    <div class="col-12 d-flex justify-content-center mt-5">
                        <a href="/establishment/login"> Have already account? Login</a>
                    </div>
                    <div class="p-4"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    var emailVerify = 0;

    const submitForm = (e) => {
        let code = $("#code").val();
        if(emailVerify != code) {
            $("#codeError").text("Wrong code.");
            e.preventDefault();
            return false;
        }
    }

    // Validate email
    const validateEmail = (email) => {
        return email.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    };

    // Get Verification Code from email
    document.querySelector('#getCode').addEventListener('click', (e) => {
        let email = $("#email").val();
        if (validateEmail(email)) {
            e.target.disabled = true
            fetch("/establishment/request/code/" + email)
                .then((response) => {
                    response.json().then((data) => {
                        if(data.emailError) {
                            e.target.disabled = false;
                            $("#emailError").text("Email already exists.");
                        } else {
                            emailVerify = data;
                            $("#codeError").text("");
                            setTimeout(function(){
                                e.target.disabled = false
                            }, 60*1000);
                        }
                    });
                });
        } else {
            $("#emailError").text("Input correct email.");
        }
    })
</script>

</body>
</html>