<ul>
    <li>ADMIN</li>
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li>
        <li>Visitors</li>
        <li><a href="/admin/visitors/trace">Trace</a></li>
        <li><a href="/admin/visitors/records">Records</a></li>
        <li><a href="/admin/visitors/list">List</a></li>
    </li>
    <li>
        <li>Establishments</li>
        <li><a href="/admin/establishments/requests">Request</a></li>
        <!-- <li><a href="/admin/establishment/notify">Notify</a></li> -->
        <li><a href="/admin/establishments/list">List</a></li>
    </li>
    <li><a href="/admin/logout">Logout</a></li>
</ul>