<form class="container">
    <div class="row row-cols-1 row-cols-md-3 g-2 g-lg-3">
        <input list="visitors" placeholder="Select Visitor" v-model="searchVisitor" @change="submitVisitor" :disabled="disableVisitor">
        <datalist id="visitors"> 
            <option v-for="visitor in filteredVisitors" :key="visitor._id" :value="visitor._id">{{visitor.name.fname}} {{visitor.name.lname}}</option>
        </datalist> 
    </div>
    <div>
        <input  class="form-control" v-model="option" type="radio" name="option" value="byDate" checked :disabled="disableFields">
        <label>Date - Date</label>
        <input  class="form-control" v-model="option" type="radio" name="option" value="byTime" :disabled="disableFields">
        <label>Time - Time</label>
    </div>
    <!-- First Option -->
    <div v-if="!toggleOption">
        <div>
            <label>From</label>
            <input  class="form-control" type="date" v-model="filter.date1" id="date1" :max="max" :disabled="disableFields"><span>*</span>
            <input  class="form-control" type="time" v-model="filter.time1" :disabled="disableFields">
        </div>
        <div>
            <label>To</label>
            <input  class="form-control" type="date" v-model="filter.date2" id="date2" :max="max" :disabled="disableFields"><span>*</span>
            <input  class="form-control" type="time" v-model="filter.time2" :disabled="disableFields">
        </div>
    </div>  
    <!-- Second Option -->
    <div v-else>
        <div>
            <label>Date</label>
            <input  class="form-control" type="date" v-model="filter.date1" id="date1" :max="max"><span>*</span>
            <label>From</label>
            <input  class="form-control" type="time" v-model="filter.time1">
            <label>From</label>
            <input  class="form-control" type="time" v-model="filter.time2">
        </div>
    </div>
    <p v-if="errorMessage">{{errorMessage}}</p>
    <button @click="clear">Clear</button>
    <button @click="submitFilter">Filter</button>
</form>

<div>
    <div>
        <select @change="sortChange">
            <option>Latest</option>
            <option>Older</option>
        </select>
    </div>
    <div>
        <input type="text" v-model="searchEstablishment" placeholder="Filter by establishment name">
    </div>
</div>


<div class="table-responsive  col-12 mx-auto p-0 mt-5">
    <table  class="table app-table-hover mb-0 text-center">
    <thead>
        <th class="cell">Name</th>
        <th class="cell">Date & Time</th>
        <th class="cell">Establishment</th>
        <th class="cell"></th>
    </thead>

    <tr v-for="log in filteredLogs" :key="log._id">
        <td class="cell">{{log.name.fname}} {{log.name.lname}}</td>
        <td class="cell">{{log.date}}</td>
        <td class="cell">{{log.establishment}}</td>
        <td class="cell"><span class="btn-sm app-btn-secondary" @click="handleAction(log.visitor_id)">clickable option</span></td>
    </tr>
    </table>
</div>