@import './resets';
@import './variables';


.main{ 
    background-color: $color-primary ;
}

.home{
    
    background: url("../assets/images/frame_5.svg") ;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right bottom;

}

nav{
    background-color: transparent !important;
}

.navbar{
    .nav-link{
        @include text-white(normal,reg); 
    } 
    button{
        @include btn-white(normal,btn);
    }
}

.head{
    min-height:90vh;
    .l-div{
        
        h1{
            @include text-primary(bold,tle); 
            background: linear-gradient(98.32deg, $color-primary 15.35%, $color-secondary 83.49%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        h5{
            @include text-black(thin,h3); 
        }
        @media screen and (min-width: 991px){
            button{
                @include btn-primary(normal,btn);
                color: white !important;
            }
            button:hover{
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }
            button:active{
                background-color: $color-secondary !important;
            }
        }
        @media screen and (min-width: 0px){
            button{
                @include btn-white(normal,btn);
            }
        }
        
        
    }
}

.second-sec{
    .c-div{
        height: 100% !important;
        h5{
            @include text-primary(bold,reg); 
        }
    }
}

//login modules

.login{
    min-height: 100vh;
    background-image: url("../assets/images/Frame_1.svg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right bottom;
    background-attachment: fixed;
    #r-form-parent{
        max-height: 80vh;
        overflow-y: auto;
    }
    #r-form{
        height: 100%;
    }
    .login-subcon{
         
        .c-div{
            background-color: $color-white;
            box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.12);
            h1{
                text-align: center;
                @include text-primary(heavy,h1);
                background: linear-gradient(98.32deg, $color-primary 15.35%, $color-secondary 83.49%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            p{
                text-align: center;
                @include text-black(normal,p);

            }
            label{
                @include text-black(normal,lbl);
            }
            input {
                border: 0;
                border-radius: 0px;
                outline: 0;
                background: transparent;
                box-shadow: none !important;
                border-bottom: 1px solid rgb(141, 137, 137,0.5);
            }
            
            .btn-grad{
                @include btn-primary(normal, btn);
            }
            .btn-grad:hover{
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }
            .btn-grad:active{
                background-color: $color-secondary !important;
            }
            a{
                text-decoration: none;
            }
        }
    }
    
}


.register{
    min-height: 100vh;
    background-image: url("../assets/images/Frame_1.svg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right bottom;
    background-attachment: fixed;
    #r-form-parent{
        max-height: 80vh;
        overflow-y: auto;
    }
    #r-form{
        height: 100%;
    }
    .register-subcon{
         
        .c-div{
            background-color: $color-white;
            box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.12);
            h1{
                text-align: center;
                @include text-primary(heavy,h1);
                background: linear-gradient(98.32deg, $color-primary 15.35%, $color-secondary 83.49%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            p{
                @include text-black(normal,p);
            }
            input {
                border: 0;
                border-radius: 0px;
                outline: 0;
                background: transparent;
                box-shadow: none !important;
                border: 1px solid rgb(141, 137, 137,0.5) ;
            }
            span{
                text-transform: uppercase;
                @include text-black(bold,p);
            }
            .btn-grad{
                @include btn-primary(normal, btn);
            }
            .btn-grad:hover{
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }
            .btn-grad:active{
                background-color: $color-secondary !important;
            }

        }
    }
    
}

._1{
    background-color: $color-primary;
}
._2{
    background-color: $color-secondary;
}


