@import './resets';
@import './variables';



.main{ 
    background-color: $color-primary ;
}

.navbar{
    .nav-link{
        @include text-primary(bold,reg); 
    } 
    button{
        @include btn-primary(bold,btn);
    }
}
.head{
    background-image: url("../assets/images/pexels-photo-3962294.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right top;
    background-attachment: fixed;
    min-height: 70vh;

    .l-div{
        h1{
            @include text-primary(bold,tle); 
        }
        h5{
            @include text-white(thin,h3); 
        }

        button{
            @include btn-primary(bold,btn);
        }
    }
}

.second-sec{

    .c-div{
        height: 100% !important;
        h5{
            @include text-primary(bold,reg); 
        }
    }
}

//login modules

.login{
    min-height: 100vh;
    background-image: url("../assets/images/Frame_1.svg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right bottom;
    background-attachment: fixed;
    #r-form-parent{
        max-height: 80vh;
        overflow-y: auto;
    }
    #r-form{
        height: 100%;
    }
    .login-subcon{
        
       
        .c-div{
            background-color: $color-white;
            box-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.12);
            h1{
                text-align: center;
                @include text-primary(heavy,h1);
                background: linear-gradient(98.32deg, #3285FF 15.35%, #00CCF8 83.49%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            p{
                text-align: center;
                @include text-black(normal,p);

            }
            label{
                @include text-black(normal,lbl);
            }
            input {
                border: 0;
                border-radius: 0px;
                outline: 0;
                background: transparent;
                box-shadow: none !important;
                border-bottom: 1px solid rgb(141, 137, 137,0.5);
            }
            
            .btn-grad{
                @include btn-primary(normal, btn);
            }
            .btn-grad:hover{
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }
            .btn-grad:active{
                background-color: $color-secondary !important;

            }
            a{
                text-decoration: none;
            }
        }
    }
    
}
._1{
    background-color: $color-primary;
}
._2{
    background-color: $color-secondary;
}


