@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
$color-primary: #65DF95;
$color-secondary: #0FB3A8;
$color-sub:#3354CC;
$color-black: #11171F;
$color-white: #ffffff;

$font-regular: 'Ubuntu', sans-serif;

$font-size:(
        "title":3rem,
        
        "h1":2rem,
        "h2":1.5rem,
        "h3":1.3rem,

        "p":0.9rem, //16px
        "reg":1rem,
        "lbl":0.9rem,
        "btn":1rem, //19px
);

$font-weight:(
    "thin":400,
    "normal":500,
    "bold": 600,
    "heavy": 700,
);


@function weight($weight-name){
    @return map-get($font-weight, $weight-name);
}
@function fontsize($fontsize-name){
    @return map-get($font-size, $fontsize-name);
}


@mixin btn-primary ($weight-name,$fontsize-name){
    color: $color-white;
    background-image: linear-gradient(to right, $color-primary -4%, $color-secondary  51%, $color-primary  99%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;

    font-family: $font-regular, Arial, Helvetica, sans-serif;
    font-weight: weight($weight-name);
    font-size: fontsize(btn);
  
    border-radius: 5px;
    box-shadow: none !important;
}

@mixin btn-secondary ($weight-name,$fontsize-name){
    color: $color-white;
    background-color:  $color-secondary;
    font-family: $font-regular, Arial, Helvetica, sans-serif;
    font-weight: weight($weight-name);
    font-size: fontsize(btn);
    border-radius: 5px;
    box-shadow: none !important;
}

@mixin btn-white ($weight-name,$fontsize-name){
    color: $color-secondary;
    background-color:  $color-white;
    font-family: $font-regular, Arial, Helvetica, sans-serif;
    font-weight: weight($weight-name);
    font-size: fontsize(btn);
    border-radius: 5px;
    box-shadow: none !important;
}
 
@mixin text-primary ($weight-name,$fontsize-name){
    color: $color-primary !important;
    font-family: $font-regular, Arial, Helvetica, sans-serif !important;
    font-weight: weight($weight-name) !important;
    font-size: fontsize($fontsize-name) !important;
 
}

@mixin text-secondary ($weight-name,$fontsize-name){
    color: $color-secondary !important;
    font-family: $font-regular, Arial, Helvetica, sans-serif !important;
    font-weight: weight($weight-name) !important;
    font-size: fontsize($fontsize-name) !important;
 
}
@mixin text-black ($weight-name,$fontsize-name){
    color: $color-black !important;
    font-family: $font-regular, Arial, Helvetica, sans-serif !important;
    font-weight: weight($weight-name) !important;
    font-size: fontsize($fontsize-name) !important;
 
}
@mixin text-white ($weight-name,$fontsize-name){
    color: $color-white !important;
    font-family: $font-regular, Arial, Helvetica, sans-serif !important;
    font-weight: weight($weight-name) !important;
    font-size: fontsize($fontsize-name) !important;
 
}

@mixin box-shadow ($shaodw) {
	-webkit-box-shadow: $shaodw;
	-moz-box-shadow: $shaodw;
	box-shadow: $shaodw;
}

h1,h2,h3,h4,h5,h5,p,a{
    font-family: $font-regular !important;
}

a{
    text-decoration: none !important;
}