<%- include("./partials/header.ejs", {title:"Data Privacy"}) %>

    <div class="register container-fluid d-flex flex-row align-items-center justify-content-center p-0" >
        <div class="register-subcon col-xl-8 col-lg-10 col-md-11 col-10 row"> 
            <div class="c-div col-lg-8 col-12 d-flex flex-column justify-content-center border p-lg-5 p-md-4 p-sm-5 p-4 mx-auto">
                <div  id="data-privacy" >
                    <h1>DATA PRIVACY NOTICE</h1>
                    <p class="mt-3">In accordance with the <span>Data Privacy Act (DPA) of 2012</span> and its Implementing Rules and Regulations (IRR), which became effective on September 9, 2016.</p>
                    <p><span>I HEREBY DECLARE</span> that the information I will provide in this system is complete, accurate, true and correct to the best of my knowledge. <span>FURTHER, I HEREBY ACKNOWLEDGE</span> that I have read and understood the Data Privacy Notice and agree thereto as well. I authorize and give my consent to the students of Technological University of the Philippines - Manila to collect, use and process my personal information for the purpose of commencing their thesis entitled the “Development of a Web-Based Contactless Contact Tracing Using Facial Recognition”. I understand that my consent does not preclude the existence of other criteria for lawful processing of personal data, and does not waive any of my rights under the Data Privacy Act of 2012 and other applicable laws.</p>
                    <p class="mt-5 text-center"> By clicking <span>continue</span> it means that you agree with the <span>Privacy Notice</span> .</p>
                    <button id="submit" class="btn btn-grad col-12" type="submit">
                        <a href="/visitor/register">Continue</a>
                    </button>
                    <div class="col-12 d-flex justify-content-center" >
                        <a href="/" class="mx-auto mt-4">Go back to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("./partials/footer.ejs") %>

