<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=process%></title>
    <script defer src="/js/face-api.min.js"></script>
    <script defer src="/js/detect.js"></script>
    <script defer src="/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        canvas {
            position: absolute;
        }
    </style>
</head>
<body class="cam_module ">
    <div class="container container-fluid d-flex justify-content-center">
        <video  class="mx-auto my-auto" id="video" width="720" height="560" autoplay muted></video>
        <div id="loading"></div>
    </div>
    <div>
        <canvas id="canvas" width="720" height="560" style="display: none;"></canvas>
    </div>

</body>
</html>

