<%- include("./partials/header.ejs", {title:"Instructions"}) %>

    <div class="register container-fluid d-flex flex-row align-items-center justify-content-center p-0" >
        <div class="register-subcon col-xl-8 col-lg-10 col-md-11 col-10 row"> 
            <div class="c-div col-lg-8 col-12 d-flex flex-column justify-content-center border p-lg-5 p-md-4 p-sm-5 p-4 mx-auto">
                <div class="col-10 mx-auto " id="face-detection">
                    <div class="col-12 mx-auto d-flex  flex-column justify-content-center">
                        <div class="col-6 mx-auto "><img class="col-12  mx-auto" src="/assets/images/FaceDetection.svg" alt=""></div>
                        <h2 class="text-center mt-5">Face Detection</h2>
                        <p class="text-center">Stay still and remove any accessories that blocks your face.</p>
                    </div>
                    <button id="next-1" class="btn btn-grad col-12" type="submit" >Next</button>
                </div>
                <div class="col-10 mx-auto " id="capturing" style="display: none;">
                    <div class="col-12 mx-auto d-flex  flex-column justify-content-center">
                        <div class="col-6 mx-auto "><img class="col-12  mx-auto" src="/assets/images/Capturing.svg" alt=""></div>
                        <h2 class="text-center mt-5">Capturing</h2>
                        <p class="text-center">Look straight to the camera, and avoid unnecessary movements.</p>
                    </div>
                    <button id="next-2" class="btn btn-grad col-12" type="submit" >Next</button>
                </div>
                <div class="col-10 mx-auto " id="saving" style="display: none;">
                    <div class="col-12 mx-auto d-flex  flex-column justify-content-center">
                        <div class="col-6 mx-auto "><img class="col-12  mx-auto" src="/assets/images/Saving.svg" alt=""></div>
                        <h2 class="text-center mt-5">Saving</h2>
                        <p class="text-center">Please wait while we save your information.</p>
                    </div>
                    <a id="next-3" style="color:white !important;" class="btn btn-grad col-12" href="/visitor/detect/process/1">
                        Proceed
                    </a>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        $("#next-1").click(function() {
            $("#face-detection").hide();
            $("#capturing").show();
        });
        $("#next-2").click(function() {
            $("#capturing").hide();
            $("#saving").show();
        });
    </script>
    
<%- include("./partials/footer.ejs") %>

