<%- include("../partials/header.ejs", {title:"Login"}) %>

<h1>Login</h1>
<a href="/visitor/register">Don't have account? Register</a>
<form action="/visitor/login" method="POST">
    <div>
        <label for="email">Email: </label>
        <input type="email" name="email" required>
    </div>
    <div>
        <label for="pass">Password</label>
        <input id="pass" type="password" name="pass" required>
    </div>
    <% if(typeof(error) != "undefined") {%>
        <p class="text-danger"><%=error%></p>
    <% } %>
    <button id="submit" type="submit">Submit</button>
</form>
<%- include("../partials/footer.ejs") %>