<%- include("./partials/header.ejs", {title:"Login"}) %>

<div class="login container-fluid d-flex flex-row align-items-center justify-content-center p-0">
   
 
    <div class="login-subcon col-xl-8 col-lg-10 col-md-11 col-10 row">
        
        <div class="c-div col-xl-6 col-md-6 col-12 d-flex flex-column justify-content-center border p-lg-5 p-md-4 p-sm-5 p-4 mx-auto">
            <div class="col-12 d-flex justify-items-center mt-3">
                <a href="http://localhost:3000/" class="col-4 mx-auto"><img src="../assets/images/logo.png" alt="" class="col-12"></a>
            </div>
            
            
            <p class="mt-4">Login with the data you entered during the registration.</p>
            <form class="column mt-md-4 mt-2" action="/visitor/login" method="POST">
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input class="form-control" type="email" name="email" required>
                </div>
                <div class="form-group mt-3">
                    <label for="pass">Password:</label>
                    <input class="form-control" id="pass" type="password" name="pass" required>
                </div>
                <% if(typeof(error) != "undefined") {%>
                    <p class="text-danger"><%=error%></p>
                <% } %>
                
                <button id="submit" class="btn btn-grad col-12 mt-5" type="submit">Submit</button>
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <a href="/visitor/register">Don't have account? Register</a>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <a href="/visitor/forgot">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>