<%- include("../partials/header.ejs", {title:"Establishments List"}) %>

<div id="app">
    <div v-if="admin"  class="home_adm  container-fluid p-0">   
        <%- include("../partials/navbar.ejs"); %>
        <div class="app-wrapper">
            <div class="app-content pt-3 p-md-3 p-lg-4">
                <div class="container-xl">
                    <div class="head container" >
                        <div id="orders-table-tab" class="mt-5 orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                            <a class="flex-sm-fill text-left nav-link active" >Establishment List</a>
                        </div>
                        <div class="table-responsive  col-12 mx-auto p-0 mt-5">
                            <table  class="table app-table-hover mb-0">
                                
                                <thead>
                                    <th class="cell">Establishment Name</th>
                                    <th class="cell">Establishment Owner</th>
                                    <th class="cell">Establishment Address</th>
                                    <th class="cell">Establishment Email</th>
                                    <th class="cell">Establishment Contact</th>
                                    <th class="cell">Limited for vaccinated person (Check/Ekis)</th>
                                </thead>
                
                                <tr  v-for="establishment in establishments.slice(pageFirstIndex,pageLastIndex)" :key="establishment._id">
                                    <td class="cell">{{establishment.name}}</td>
                                    <td class="cell">{{establishment.owner}}</td>
                                    <td class="cell">{{establishment.address}}</td>
                                    <td class="cell">{{establishment.email}}</td>
                                    <td class="cell">{{establishment.contact}}</td>
                                    <td class="cell" v-if="establishment.limitVacinated">Check</td>
                                    <td class="cell" v-else>Ekis</td>
                                </tr>
                            </table>
                            <div v-if="loaded  == false" class="load-div col-12 d-flex justify-content-center align-items-center">
                                <div class="my-auto" id="loading"></div>
                            </div>
                        </div>
                        <div class="mt-5 d-flex flex-row justify-content-center">
                            <nav aria-label="Page navigation example mt-5 mx-auto">
                                <ul class="pagination">
                                    <li class="page-item"  @click="getPrevPageIndex()"><a class="page-link" href="#">Previous</a></li>
                                    <div class="border px-5 d-flex align-items-center"><p class="my-auto">{{pageFirstIndex+1}}-{{pageLastIndex}}</p></div>
                                    <li class="page-item" @click="getNextPageIndex()"><a class="page-link" href="#">Next</a></li>
                                </ul>
                              </nav>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                admin: JSON.parse('<%- JSON.stringify(admin) %>'),
                loaded: false,
                establishments: [],
                max: "",
                pageCurrent:1,
                pageFirstIndex:0,
                pageLastIndex:10,


                reloadContent: async () => {
                    const response = await fetch("/admin/establishments");
                    const result = await response.json();
                    this.establishments = await result.establishments;
                    this.loaded = true;
                }
            }
        },
        methods: {
            getNextPageIndex(){
                if(this.pageLastIndex < this.establishments.length){
                    this.pageFirstIndex =  this.pageLastIndex;
                    this.pageLastIndex = this.pageFirstIndex  +10;
                    if(this.pageLastIndex >  this.establishments.length){
                        this.pageLastIndex = (this.pageLastIndex-10) + ( this.establishments.length % 10)
                    }
                }
            },
            getPrevPageIndex(){
                if(this.pageFirstIndex > 0){
                    this.pageLastIndex = this.pageFirstIndex;
                    this.pageFirstIndex =   this.pageFirstIndex-10;
                }
            },
        },
        mounted() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();

            if (dd < 10) dd = '0' + dd;

            if (mm < 10) mm = '0' + mm;

            today = yyyy + '-' + mm + '-' + dd;

            this.max = today;
            this.reloadContent();
        },
        computed: {
        
        },
        watch:{
            
        }
    });

    app.mount('#app');
</script>


<%- include("../partials/footer.ejs"); %>
