<%- include("./partials/header.ejs", {title:"Visitors"}) %>

<div id="app"> 
    <div v-if="admin"  class="home_adm  container-fluid p-0">   
        <%- include("./partials/navbar.ejs"); %>
        <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="head container" >
                    <div id="orders-table-tab" class="mt-5 orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                        <a class="flex-sm-fill text-left nav-link active" >Visitors List</a>
                    </div>
                    <div class=" col-12 d-flex justify-content-start mx-auto py-2">
                        <div class="col-6">
                            <label>Search:</label>
                            <input class="form-control" type="text" v-model="search">
                        </div>
                    </div>
                    <div class="mt-2 table-responsive col-12 mx-auto p-0 ">
                        <table class="table app-table-hover  mb-0 p-0 text-left">
                            <thead>
                                <tr>
                                    <th class="cell">Name</th>
                                    <th class="cell">Address</th>
                                    <th class="cell">Email</th>
                                    <th class="cell">Contact</th>
                                    <th class="cell">Vaccination Status</th>
                                    <th class="cell">Vaccination Card</th>
                                </tr>
                            </thead>
                            
                            <tr v-for="(visitor, index) in filteredVisitors.slice(pageFirstIndex,pageLastIndex)" :key="visitor._id">
                                <td class="cell">{{visitor.name.fname}} {{visitor.name.lname}}</td>
                                <td class="cell">{{visitor.address.barangay}} {{visitor.address.city}} {{visitor.address.province}}</td>
                                <td class="cell">{{visitor.email}}</td>
                                <td class="cell">{{visitor.contact}}</td>

                                <td class="cell text-center" v-if="visitor.isVaccinated"><span class="badge bg-success">Fully Vaccinated</span></td>
                                <td class="cell text-center" v-else>
                                    <span class="btn-sm app-btn-secondary mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="vacStatus(visitor._id)">Not Vaccinated</span>
                                </td>

                                <td class="cell text-center" v-if="visitor.vaccine_card"><a class="btn-sm app-btn-secondary" href="#" @click="showPic(visitor.vaccine_card)">View</a></td>
                                <td class="cell text-center" v-else><span class="badge bg-secondary">Not Uploaded</span></td>
                            </tr>
                        </table>
                        <div v-if="loaded  == false" class="load-div col-12 d-flex justify-content-center align-items-center">
                            <div class="my-auto" id="loading"></div>
                        </div>
                    </div>
                    <div class="mt-5 d-flex flex-row justify-content-center">
                        <nav aria-label="Page navigation example mt-5 mx-auto">
                            <div class="pagination">
                                <div class="page-item"  @click="getPrevPageIndex()"><a class="page-link" href="#">Previous</a></div>
                                <div class="border px-5 d-flex align-items-center"><p class="my-auto">{{pageFirstIndex+1}}-{{pageLastIndex}}</p></div>
                                <div class="page-item" @click="getNextPageIndex()"><a class="page-link" href="#">Next</a></div>
                            </div>
                          </nav>
                    </div>
               
              
                </div><!--//app-card-body-->	
            </div><!--//container-fluid-->
        </div><!--//app-content-->
        </div><!--//app-wrapper-->   
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body py-5 text-center">
                Are you sure you want to change the Vaccination Status?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  @click="checkVaccinated()" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
        </div>  
    </div>
        <!-- Modal end -->
    <div class="modal-vue">
        <div class="overlay " v-if="showVacCard" @click="showVacCard = false">
            <modal-vaccard />
        </div>
    </div>
</div>

<script>
    let app = Vue.createApp({
        el: '#app',
        data() {
            return {
                loaded: false,
                search: "",

                pageCurrent:1,
                pageFirstIndex:0,
                pageLastIndex:10,


                showVacCard: false,
                showConfirm: false,
                changeVacStat: "",
                picurl: "",
                admin: JSON.parse('<%- JSON.stringify(admin) %>'),
                visitors: [],
   
                reloadContent: async () => {
                    const response = await fetch("/admin/visitors/list");
                    const result = await response.json();
                    this.visitors = await result.visitors;  
                    this.loaded = true;
                }
            }
        },
        methods: {
            vacStatus(id){
                this.changeVacStat = id;
                console.log("here");
                this.showConfirm = true;
            },
            vacCardURL(pic) {
                return `/uploads/vacCard/${pic}`
            },
            async checkVaccinated() {
                id = this.changeVacStat
                const response = await fetch(`/admin/visitors/list/vaccinated/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });

                const result = await response.json();
          
                if(result.success) {
                    this.reloadContent();
                }
            },
            showPic(pic){      
                this.picurl = `/uploads/vacCard/${pic}`;
                this.showVacCard= true;
            },
            getNextPageIndex(){
                if(this.pageLastIndex < this.pageCount){
                    this.pageFirstIndex =  this.pageLastIndex;
                    this.pageLastIndex = this.pageFirstIndex  +10;
                    if(this.pageLastIndex > this.pageCount){
                        this.pageLastIndex = (this.pageLastIndex-10) + (this.pageCount % 10)
                    }
                }
            },
            getPrevPageIndex(){
                if(this.pageFirstIndex > 0){
                    this.pageLastIndex = this.pageFirstIndex;
                    this.pageFirstIndex =   this.pageFirstIndex-10;
                }
            },
  
        },
        computed: {
            filteredVisitors() {
         
                return this.visitors.filter((visitor) => {
                if(visitor.name.fname || visitor.name.lname)
                  { 
                    return visitor.name.fname.includes(this.search.toUpperCase(),) || visitor.name.lname.includes(this.search.toUpperCase(),);}
                    
                })
            },
            pageCount(){
                return  this.filteredVisitors.length
            },
            
        },
        mounted() {
            this.reloadContent();

        },
        watch:{
           
        }
    })
    app.component('modal-vaccard',{
        data(){
        let pic = this.$root.picurl;
            return{
                pic,
            }
        },
        template:`
            <div class="overlay-div col-12 d-flex flex-column justify-content-between align-items-center p-5 my-auto">
                    <div class="modal-div col-12 col-lg-8 col-xl-6 mx-auto my-auto p-3">
                        <div class="col-12 d-flex btn justify-content-end p-0">
                            <button class="close btn" @click="showVacCard = false">x</button>
                        </div>
                        <div class="vacCard border col-10 mx-auto">
                            <img  v-bind:src="pic" alt="vaccination card" class="col-12">
                        </div>
                    </div>
            </div>
        `
    })
    
    app.mount('#app');
</script>

<%- include("./partials/footer.ejs"); %>