<%- include("./partials/header.ejs", {title:"Visitors"}) %>

<div id="app"> 
    <div v-if="admin"  class="home_adm  container-fluid p-0">   
        <%- include("./partials/navbar.ejs"); %>
        <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="head container" >
                    <div class=" col-12 d-flex justify-content-end mx-auto mt-5">
                        <div class="col-6">
                            <input class="form-control" type="text" v-model="search">
                        </div>
                    </div>
                    <div class="table-responsive col-12 mx-auto p-0 mt-5">
                        <table class="table app-table-hover  mb-0 p-0 text-left">
                            <thead>
                                <tr>
                                    <th class="cell">Name</th>
                                    <th class="cell">Address</th>
                                    <th class="cell">Email</th>
                                    <th class="cell">Contact</th>
                                    <th class="cell">Vaccination Status</th>
                                    <th class="cell">Vaccination Card</th>
                                </tr>
                            </thead>
                            
                            <tr v-for="visitor in filteredVisitors" :key="visitor._id">
                                <td class="cell">{{visitor.name.fname}} {{visitor.name.lname}}</td>
                                <td class="cell">{{visitor.address.barangay}} {{visitor.address.city}} {{visitor.address.province}}</td>
                                <td class="cell">{{visitor.email}}</td>
                                <td class="cell">{{visitor.contact}}</td>

                                <td class="cell text-center" v-if="visitor.isVaccinated"><span class="badge bg-success">Fully Vaccinated</span></td>
                                <td class="cell text-center" v-else>
                                    <span class="btn-sm app-btn-secondary mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="vacStatus(visitor._id)">Not Vaccinated</span>
                                </td>

                                <td class="cell text-center" v-if="visitor.vaccine_card"><a class="btn-sm app-btn-secondary" href="#" @click="showPic(visitor.vaccine_card)">View</a></td>
                                <td class="cell text-center" v-else><span class="badge bg-secondary">Not Uploaded</span></td>
                            </tr>
                        </table>
                        <div v-if="loaded  == false" class="load-div col-12 d-flex justify-content-center align-items-center">
                            <div class="my-auto" id="loading"></div>
                        </div>
                    </div>




                </div><!--//app-card-body-->	
            </div><!--//container-fluid-->
        </div><!--//app-content-->
        </div><!--//app-wrapper-->   
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body py-5 text-center">
                Are you sure you want to change the Vaccination Status?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  @click="checkVaccinated()" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
        </div>
    </div>
        <!-- Modal end -->
    <div class="modal-vue">
        <div class="overlay " v-if="showVacCard" @click="showVacCard = false">
            <modal-vaccard />
        </div>
    </div>
</div>

<script>
    let app = Vue.createApp({
        el: '#app',
        data() {
            return {
                loaded: false,
                showVacCard: false,
                showConfirm: false,
                changeVacStat: "",
                picurl: "",
                admin: JSON.parse('<%- JSON.stringify(admin) %>'),
                visitors: [],
                search: "",
                reloadContent: async () => {
                    const response = await fetch("/admin/visitors/list");
                    const result = await response.json();
                    this.visitors = await result.visitors;  
                    this.loaded = true;
                }
            }
        },
        methods: {
            vacStatus(id){
                this.changeVacStat = id;
                console.log("here");
                this.showConfirm = true;
            },
            vacCardURL(pic) {
                return `/uploads/vacCard/${pic}`
            },
            async checkVaccinated() {
                id = this.changeVacStat
                const response = await fetch(`/admin/visitors/list/vaccinated/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });

                const result = await response.json();

                if(result.success) {
                    this.reloadContent();
                }
            },
            showPic(pic){      
                this.picurl = `/uploads/vacCard/${pic}`;
                this.showVacCard= true;
            },
        },
        computed: {
            filteredVisitors() {
                return this.visitors.filter((visitor) => {
                    if(visitor.name.fname || visitor.name.lname) return visitor.name.fname.includes(this.search.toUpperCase()) || visitor.name.lname.includes(this.search.toUpperCase());
                });
            },
        },
        mounted() {
            this.reloadContent();
        },
    })
    app.component('modal-vaccard',{
        data(){
        let pic = this.$root.picurl;
            return{
                pic,
            }
        },
        template:`
            <div class="overlay-div col-12 d-flex flex-column justify-content-between align-items-center p-5 my-auto">
                    <div class="modal-div col-12 col-lg-8 col-xl-6 mx-auto my-auto p-3">
                        <div class="col-12 d-flex btn justify-content-end p-0">
                            <button class="close btn" @click="showVacCard = false">x</button>
                        </div>
                        <div class="vacCard border col-10 mx-auto">
                            <img  v-bind:src="pic" alt="vaccination card" class="col-12">
                        </div>
                    </div>
            </div>
        `
    })
    app.component('confirmvacstatus',{
        data(){
        let visId = this.$root.changeVacStat;
            return{
                visId,
            }
        },
        template:`
   
        
        `
    })
    app.mount('#app');
</script>

<%- include("./partials/footer.ejs"); %>