<%- include("../partials/header.ejs", {title:"Visitors List"}) %>

    <% if(typeof(admin) != "undefined") { %>
        <%- include("../partials/navbar.ejs"); %>
        <div>
            LIST
        </div>
    <% } %>

<%- include("../partials/footer.ejs"); %>
